# Fillna Fuction to Fill data

In [4]:
import pandas as pd
data = pd.read_csv("C:\\Users\\VIKRAM\\Desktop\\Jupiter_NoteBook\\people-100.csv")
data

,Index,User Id,User Id.1,Last Name,Sex,Email
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com
2,3.0,DbeAb8CcdfeFC2c,NaN,NaN,Male,bthompson@example.com
3,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,NaN,nmccann@example.net
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org
10,11.0,BF0BbA03C29Bb3b,Sheila,Ross,Female,huangcathy@example.com
11,12.0,F738c69fB34E62E,Stacy,Newton,Male,rayleroy@example.org
12,13.0,C03fDADdAadAdCe,Mandy,Blake,Male,jefferynoble@example.org
13,14.0,b759b74BD1dE80d,Bridget,Nash,Female,mercedes44@example.com
14,15.0,1F0B7D65A00DAF9,Crystal,Farmer,Male,pmiranda@example.org
15,16.0,50Bb061cB30B461,Thomas,Knight,Female,braunpriscilla@example.net
16,17.0,D6dbA5308fEC4BC,NaN,Rangel,Male,sheenabanks@example.com
17,18.0,311D775990f066d,Frank,Meadows,Male,gbrewer@example.org
18,19.0,7F7E1BAcb0C9AFf,Alvin,Paul,Male,gilbertdonaldson@example.com
19,20.0,88473e15D5c3cD0,Jared,Mitchell,Female,jcortez@example.com
20,21.0,b31D271F8c200AB,Jacqueline,Norton,Female,carias@example.net
21,NaN,NaN,NaN,NaN,NaN,NaN
22,23.0,cBbBcA0FCA3C4Bc,Randy,Barnes,Male,huangbill@example.org
23,24.0,f1f89173353aD90,Janice,Rhodes,Female,juarezdominique@example.net

In [6]:
data.fillna("Python")

,Index,User Id,User Id.1,Last Name,Sex,Email
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com
2,3.0,DbeAb8CcdfeFC2c,Python,Python,Male,bthompson@example.com
3,Python,Python,Python,Python,Python,Python
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,Python
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Python,nmccann@example.net
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org
10,11.0,BF0BbA03C29Bb3b,Sheila,Ross,Female,huangcathy@example.com
11,12.0,F738c69fB34E62E,Stacy,Newton,Male,rayleroy@example.org
12,13.0,C03fDADdAadAdCe,Mandy,Blake,Male,jefferynoble@example.org
13,14.0,b759b74BD1dE80d,Bridget,Nash,Female,mercedes44@example.com
14,15.0,1F0B7D65A00DAF9,Crystal,Farmer,Male,pmiranda@example.org
15,16.0,50Bb061cB30B461,Thomas,Knight,Female,braunpriscilla@example.net
16,17.0,D6dbA5308fEC4BC,Python,Rangel,Male,sheenabanks@example.com
17,18.0,311D775990f066d,Frank,Meadows,Male,gbrewer@example.org
18,19.0,7F7E1BAcb0C9AFf,Alvin,Paul,Male,gilbertdonaldson@example.com
19,20.0,88473e15D5c3cD0,Jared,Mitchell,Female,jcortez@example.com
20,21.0,b31D271F8c200AB,Jacqueline,Norton,Female,carias@example.net
21,Python,Python,Python,Python,Python,Python
22,23.0,cBbBcA0FCA3C4Bc,Randy,Barnes,Male,huangbill@example.org
23,24.0,f1f89173353aD90,Janice,Rhodes,Female,juarezdominique@example.net

In [8]:
data.fillna({"Sex": "Male","User Id":"Bicky055"})

,Index,User Id,User Id.1,Last Name,Sex,Email
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com
2,3.0,DbeAb8CcdfeFC2c,NaN,NaN,Male,bthompson@example.com
3,NaN,Bicky055,NaN,NaN,Male,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org
10,11.0,BF0BbA03C29Bb3b,Sheila,Ross,Female,huangcathy@example.com
11,12.0,F738c69fB34E62E,Stacy,Newton,Male,rayleroy@example.org
12,13.0,C03fDADdAadAdCe,Mandy,Blake,Male,jefferynoble@example.org
13,14.0,b759b74BD1dE80d,Bridget,Nash,Female,mercedes44@example.com
14,15.0,1F0B7D65A00DAF9,Crystal,Farmer,Male,pmiranda@example.org
15,16.0,50Bb061cB30B461,Thomas,Knight,Female,braunpriscilla@example.net
16,17.0,D6dbA5308fEC4BC,NaN,Rangel,Male,sheenabanks@example.com
17,18.0,311D775990f066d,Frank,Meadows,Male,gbrewer@example.org
18,19.0,7F7E1BAcb0C9AFf,Alvin,Paul,Male,gilbertdonaldson@example.com
19,20.0,88473e15D5c3cD0,Jared,Mitchell,Female,jcortez@example.com
20,21.0,b31D271F8c200AB,Jacqueline,Norton,Female,carias@example.net
21,NaN,Bicky055,NaN,NaN,Male,NaN
22,23.0,cBbBcA0FCA3C4Bc,Randy,Barnes,Male,huangbill@example.org
23,24.0,f1f89173353aD90,Janice,Rhodes,Female,juarezdominique@example.net

In [10]:
data.fillna(method = "ffill") # fill upder values  copy where NaN and for lower values use "bfill"

C:\Users\VIKRAM\AppData\Local\Temp\ipykernel_22268\3381289140.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method = "ffill")

,Index,User Id,User Id.1,Last Name,Sex,Email
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com
2,3.0,DbeAb8CcdfeFC2c,Phillip,Summers,Male,bthompson@example.com
3,3.0,DbeAb8CcdfeFC2c,Phillip,Summers,Male,bthompson@example.com
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,buchananmanuel@example.net
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org
10,11.0,BF0BbA03C29Bb3b,Sheila,Ross,Female,huangcathy@example.com
11,12.0,F738c69fB34E62E,Stacy,Newton,Male,rayleroy@example.org
12,13.0,C03fDADdAadAdCe,Mandy,Blake,Male,jefferynoble@example.org
13,14.0,b759b74BD1dE80d,Bridget,Nash,Female,mercedes44@example.com
14,15.0,1F0B7D65A00DAF9,Crystal,Farmer,Male,pmiranda@example.org
15,16.0,50Bb061cB30B461,Thomas,Knight,Female,braunpriscilla@example.net
16,17.0,D6dbA5308fEC4BC,Thomas,Rangel,Male,sheenabanks@example.com
17,18.0,311D775990f066d,Frank,Meadows,Male,gbrewer@example.org
18,19.0,7F7E1BAcb0C9AFf,Alvin,Paul,Male,gilbertdonaldson@example.com
19,20.0,88473e15D5c3cD0,Jared,Mitchell,Female,jcortez@example.com
20,21.0,b31D271F8c200AB,Jacqueline,Norton,Female,carias@example.net
21,21.0,b31D271F8c200AB,Jacqueline,Norton,Female,carias@example.net
22,23.0,cBbBcA0FCA3C4Bc,Randy,Barnes,Male,huangbill@example.org
23,24.0,f1f89173353aD90,Janice,Rhodes,Female,juarezdominique@example.net

In [16]:
data.fillna(method = "bfill", axis = 0)

C:\Users\VIKRAM\AppData\Local\Temp\ipykernel_22268\4229226815.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method = "bfill", axis = 0)

,Index,User Id,User Id.1,Last Name,Sex,Email
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com
2,3.0,DbeAb8CcdfeFC2c,Lori,Todd,Male,bthompson@example.com
3,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,conniecowan@example.com
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org
10,11.0,BF0BbA03C29Bb3b,Sheila,Ross,Female,huangcathy@example.com
11,12.0,F738c69fB34E62E,Stacy,Newton,Male,rayleroy@example.org
12,13.0,C03fDADdAadAdCe,Mandy,Blake,Male,jefferynoble@example.org
13,14.0,b759b74BD1dE80d,Bridget,Nash,Female,mercedes44@example.com
14,15.0,1F0B7D65A00DAF9,Crystal,Farmer,Male,pmiranda@example.org
15,16.0,50Bb061cB30B461,Thomas,Knight,Female,braunpriscilla@example.net
16,17.0,D6dbA5308fEC4BC,Frank,Rangel,Male,sheenabanks@example.com
17,18.0,311D775990f066d,Frank,Meadows,Male,gbrewer@example.org
18,19.0,7F7E1BAcb0C9AFf,Alvin,Paul,Male,gilbertdonaldson@example.com
19,20.0,88473e15D5c3cD0,Jared,Mitchell,Female,jcortez@example.com
20,21.0,b31D271F8c200AB,Jacqueline,Norton,Female,carias@example.net
21,23.0,cBbBcA0FCA3C4Bc,Randy,Barnes,Male,huangbill@example.org
22,23.0,cBbBcA0FCA3C4Bc,Randy,Barnes,Male,huangbill@example.org
23,24.0,f1f89173353aD90,Janice,Rhodes,Female,juarezdominique@example.net